<div class='panel panel-primary'>
    <div class='panel-heading'>
        <p>List of Customers</p> 
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customers;">
                        <td>{{customer.customerNo}}</td>
                        <td>{{customer.name}}</td>
                        <td>{{customer.address}}</td>
                        <td>{{customer.city}}</td>
                        <td>{{customer.state}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>